body {
    font-family: sans-serif;
    background-color: #4F3434;
}

header {
    background-color: #D9D9D9;
    text-align: center;
    height: 100px;
}

.claire0{
    position: relative;
    display: block;
    float: left;
    
}
.claire0-1{
    position: relative;
    display: block;
    float: left;
    width: 200px;
    padding-left: 40px;
    font-size: 20px;
}
.claire{
    display: block;
    float: left;
    
    padding-left: 800px;
}
.claire-1{
    position: relative;
    display: block;
    float: left;
    width: 200px;
    padding-left: 40px;
    font-size: 20px;
}
.aaa{
    float: left;
    display: flex;
    width: 100%;
    padding-top: 20px;
}
.aaa p{
    width: 200px;
    padding-left: 40px;
    font-size: 20px;
}
.aaa img{
    width: 300px;
    height: 400px;
}
.head{
    padding-top:25px;
}
head {
    background-color: #D9D9D9;
}

p {
    color: #4CE715;
}
.name2{
    width: 100%;
    display: flex;
}
h1{
    text-align: center;
    width: 100%;
}
h2{
    text-align: center;
    width: 1000px;
}
.win7 {
    margin-top: 20px;
   display: flex;
   justify-content: center;
}
.itan {
    padding-top: 50px;
    padding-right: ;
}
.h1 {
    text-align: center;
    width: 100%;
}
.c {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 100px);

}
.c h2{ grid-row-start: 1;
grid-row-end: 2;}
.c img{ grid-row-start: 2;
margin: 10px;
grid-column-start: 1;}
.itan {
    padding-top: 100px;
    margin: 10px; 
    grid-row-start: 2;
    grid-column-start: 2;
}
.hhh{width: 1000px;
display: block;

}
