body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, rgb(30, 48, 30), rgb(77, 77, 146));
}

header {
    background-image: linear-gradient(to right, rgb(104, 104, 214), rgb(211, 170, 93));
    text-align: center;
    height: 100px;
}
header:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 0 12px 8px rgb(29, 29, 31);
}

.claire0{
    position: relative;
    display: block;
    float: left;
    
}
.claire0-1{
    position: relative;
    display: block;
    float: left;
    width: 200px;
    padding-left: 40px;
    font-size: 20px;
}
.claire{
    display: block;
    float: left;
    
    padding-left: 800px;
}
.claire-1{
    position: relative;
    display: block;
    float: left;
    width: 200px;
    padding-left: 40px;
    font-size: 20px;
}
.aaa{
    float: left;
    display: flex;
    width: 100%;
    padding-top: 20px;
}
.aaa p{
    width: 200px;
    padding-left: 40px;
    font-size: 20px;
}
.aaa img{
    width: 300px;
    height: 400px;
}
.head{
    padding-top:25px;
}
head {
    background-color: #D9D9D9;
}

p {
    color: #4CE715;
}
.name2{
    width: 100%;
    display: flex;
}
h1{
    text-align: center;
}
.win7 {
    margin-top: 20px;
   display: flex;
   justify-content: center;
}
.h1 {
    text-align: center;
}
c {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 100px);

}
.c h1 { 
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
.c img { 
grid-row-start: 2;
margin: 10px;
grid-column-start: 1;
}
.itan {
    padding-top: 100px;
    margin: 10px;
    grid-row-start: 2;
    grid-column-start: 2;
}
.hhh {
width: 1000px;
display: block;
}
.jill {
        position: relative;
    display: block;
    float: left;
    width: 200px;
    padding-left: 40px;
    font-size: 20px;
}
.Carlos {
    position: relative;
    display: block;
    float: right;
    width: 300px;
    padding-left: 40px;
    font-size: 20px;
}
footer {
    background-image: linear-gradient(to left, rgb(223, 107, 107), rgb(50, 50, 68));
    padding: 20px;
}
.carlos {
   height: 400px;
   width: 160px;

}
img:hover {
    box-shadow: 0 0 12px 8px rgb(29, 29, 31);
    transition: 0.8s;
    transform: scale(1.1);
}
